<ol class="children">
  {{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
    {{ if eq .replyTo $.parentId }}
      <li>
        <article id="comment-{{ .id }}">
            <div class="d-flex flex-row">
              <div>
                  <img class="avatar" src="https://secure.gravatar.com/avatar/{{ .email }}?s=100&d=mm&r=g">
              </div>
              <div>
                <div class="author">
                  {{ .name }} {{ i18n "reply-to" }} {{ $.parentName }}
                  <a id="{{ .id }}" href="#comment-form" onclick="changeValue('fields[replyTo]', '{{ .id }}')" aria-label="{{ i18n "reply-to" }} {{ .name }}">
                    <i class="fas fa-reply"></i> {{ i18n "reply" }}
                  </a>
                </div>
                <small>
                  <a href="#comment-{{ .id }}" title="{{ i18n "link-this-reply" }}">
                    <time>{{ dateFormat "Monday 2 Jan 2006 om 15:04:05" .date }}</time>
                  </a>
                </small>
                <p>{{ .body | markdownify }}</p>
              </div>
            </div>      
        </article>
        {{ partial "page-single/comment/staticman/comment-replies" (dict "entryId_parent" $.entryId_parent "SiteDataComments_parent" $.SiteDataComments_parent "parentId" .id "parentName" .name "context" .) }}
      </li>
    {{ end }}
  {{ end }}
  </ol>