{{ $enabledPostNavigation := .Site.Params.postNavigation | default true }}
{{ if $enabledPostNavigation }}
<div class="navigation navigation-single">
    {{ with .NextPage }}
    <a href="{{ .Permalink }}" class="navigation-prev">
      <i aria-hidden="true" class="fa fa-chevron-left"></i>
      <span class="navigation-tittle">{{ .Title }}</span>
    </a>
    {{ end }}
    {{ with .PrevPage }}
    <a href="{{ .Permalink }}" class="navigation-next">
      <span class="navigation-tittle">{{ .Title }}</span>
      <i aria-hidden="true" class="fa fa-chevron-right"></i>
    </a>
    {{ end }}
</div>
{{ end }}
